<!DOCTYPE cshtml>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
        <title>Tienda</title>
</head>
<body>
    <h1>Lili</h1>
    
    <p>
    La tienda en linea Lili tiene productos originales y unicos que solo las prendas
    originales se encuentra en Iguala.
    </p>
 <body>
 </html>
