<html lang="es-ES">
<head>
    <meta charset="UTF-8">
        <title>Tienda</title>
</head>
<body>
    <h1>Tienda Lili</h1>
    
    <p>
    La tienda en linea Lili es una butic la cual puedes hacer un pedido original o personalisado.
    </p>
 <body>
 </html>
