<h1 class="text-info">Sobre Lili.com</h1>
<form asp-controller="Information" asp-action="Index" method="post" role="form">
    <h2>Lili.com</h2>

    <h2>
        Su nombre original es Lili. Pero es llamada Lili.com ya que es una tienda tanto fisica como web. 
        El nombre de la tienda viene del nombre de la diseñadora Lili, quien crea y recrea prendas pero con difernte tipo de tela. Lili 
        cuida lo que es tanto la calidad de sus diseños asi como tambien cuidad que no sean una amenza para el medio ambiente.
    </h2>
</form>